<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% include "partials/enterprise_theme.html" %}
{% include "partials/executive_charts_system.html" %}
{% include "partials/executive_dashboard_client.html" %}
{% include "partials/mvp_capability_styles.html" %}
{% include "partials/mvp_workspace_styles.html" %}
{% if demo_mode|default(false) %}{% include "partials/demo_dark_theme.html" %}{% endif %}
{% if demo_mode|default(false) %}{% include "partials/accessibility_theme.html" %}{% endif %}
